.container {
  flex: 1 0 100%;
  padding: 0 15px;
  display: flex;
  flex: {
    wrap: wrap;
  }
  justify-content: center;
  align: {
    items: center;
    content: center;
  }

  // DESKTOP
  @media (min-width: 1200px) {
    padding: 0;
  }

  // MOFIFIERS
  &.-full_height {
    padding-top: 75px;
    height: 100vh;
  }
  &.-row {
    flex-direction: row;
  }
}
