.form {
	width: 100%;
	max-width: 544px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align: {
		items: center;
		content: center;
	}

	&_group {
		flex: 1 0 100%;
		margin-bottom: 30px;
		display: flex;
		flex-wrap: wrap;
		position: relative;
		justify-content: center;

		// DESKTOP
		@media (min-width: 1200px) {
			margin-bottom: (30/1080) * 100vh;
		}

		// MODIFIERS
		&.-half {
			flex: 1 0 50%;
		}
		&.-grow0 {
			flex: 0 0 auto;

			// MOBILE
			@media (max-width: 320px) {
				width: min-content;
			}
		}
		&.-mb_103 {
			margin-bottom: 50px;

			// DESKTOP
			@media (min-width: 1200px) {
				margin-bottom: (103/1080) * 100vh;
			}
		}

		&.-order0 {
			order: 1;

			// DESKTOP
			@media (min-width: 1200px) {
				order: 0;
			}
		}
		&.-order1 {
			order: 0;

			// DESKTOP
			@media (min-width: 1200px) {
				order: 1;
			}
		}

		&.-input_eye {
			span {
				padding: 8px 8px 7px 8px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 14px;
				cursor: pointer;
			}
		}
	}

	&_error {
		width: 100%;
		position: absolute;
		top: -20px;
		font-size: 14px;
		line-height: 16px;
		color: #c8000e;
		text: {
			align: right;
			transform: uppercase;
		}
		justify-content: flex-end;
		transform: translateY(50%);
		opacity: 0;
		animation: showError 300ms;
		animation-fill-mode: forwards;

		// DESKTOP
		@media (min-width: 1200px) {
			top: -20px;
		}

		&-icon {
			width: 24px;
			height: 24px;
			background: {
				image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 12C0 5.372 5.372 0 12 0s12 5.372 12 12-5.372 12-12 12S0 18.628 0 12zm16.012-9.504A10.253 10.253 0 0012 1.688c-1.392 0-2.742.271-4.015.81a10.259 10.259 0 00-3.279 2.21c-.947.95-1.69 2.051-2.21 3.28A10.253 10.253 0 001.688 12c0 1.392.271 2.742.81 4.015a10.259 10.259 0 002.21 3.279c.95.947 2.051 1.69 3.28 2.21 1.27.537 2.62.808 4.012.808 1.392 0 2.742-.271 4.015-.81a10.259 10.259 0 003.279-2.21c.947-.95 1.69-2.051 2.21-3.28.537-1.27.808-2.62.808-4.012 0-1.392-.271-2.742-.81-4.015a10.259 10.259 0 00-2.21-3.279c-.95-.947-2.051-1.69-3.28-2.21zM12 15a.937.937 0 01-.938-.938V5.415a.937.937 0 111.876 0v8.649c0 .518-.42.937-.938.937zm0 3.61a1.055 1.055 0 110-2.11 1.055 1.055 0 010 2.11z' fill='%23C8000E'/%3E%3C/svg%3E");
				repeat: no-repeat;
				position: center;
				size: contain;
			}
			position: absolute;
			position: absolute;
			bottom: 14px;
			right: 10px;
			animation: showErrorIcon 300ms;
			animation-fill-mode: forwards;
		}
	}

	// MODIFIERS
	&.-noflex {
		display: block;
	}
}

@keyframes showError {
	0% {
		transform: translateY(50%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes showErrorIcon {
	0% {
		transform: scale(0.5);
	}
	100% {
		transform: translateY(0);
	}
}
