@import "../../assets/scss/mixins";

.states {
    flex: 1 0 100%;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    align: {
        items: flex-start;
        content: flex-start;
    }
    justify-content: center;

    
    &.-success {
		// DESKTOP
		@media(min-width: 1200px) {
            background: {
                image: url('../../assets/images/success_bg.svg');
                size: (845/1080) * 100vh (813/1920) * 100vw;
                position: {
                    x: -(65/1920) * 100vw;
                    y: -(50/1080) * 100vh;
                }
                repeat: no-repeat;
            }
		}

    }
}