@import "../../assets/scss/mixins";

.password {
  &_rules {
    margin-bottom: 50px;
    display: flex;
    flex-flow: wrap;

    // DESKTOP
    @media (min-width: 1200px) {
      margin-bottom: (103/1080) * 100vh;
    }

    &-title {
      flex: 1 0 100%;
      margin-bottom: 25px;
      @include fluidByHeight(16, 20, "font-size");

      // DESKTOP
      @media (min-width: 1200px) {
        margin-bottom: (25/1080) * 100vh;
      }
    }

    &-content {
      flex: 1 0 100%;
      display: flex;
      flex-flow: wrap;
      list: {
        style: disc;
        style-position: inside;
      }
    }

    &-item {
      flex: 1 0 100%;
      padding: 0 5px;
      margin-bottom: 5px;
      position: relative;
      @include fluidByHeight(12, 16, "font-size");
      line-height: (24/16) * 100%;
      transition: color 175ms ease-in;

      // DESKTOP
      @media (min-width: 1200px) {
        margin-bottom: (5/1080) * 100vh;
      }

      &:before {
        width: 16px;
        height: 16px;
        content: "";
        background: {
          image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.4 8C14.4 9.69739 13.7257 11.3253 12.5255 12.5255C11.3253 13.7257 9.69739 14.4 8 14.4C6.30261 14.4 4.67475 13.7257 3.47452 12.5255C2.27428 11.3253 1.6 9.69739 1.6 8C1.6 6.30261 2.27428 4.67475 3.47452 3.47452C4.67475 2.27428 6.30261 1.6 8 1.6C8.608 1.6 9.2 1.688 9.76 1.848L11.016 0.592C10.088 0.208 9.072 0 8 0C6.94943 0 5.90914 0.206926 4.93853 0.608964C3.96793 1.011 3.08601 1.60028 2.34315 2.34315C0.842855 3.84344 0 5.87827 0 8C0 10.1217 0.842855 12.1566 2.34315 13.6569C3.08601 14.3997 3.96793 14.989 4.93853 15.391C5.90914 15.7931 6.94943 16 8 16C10.1217 16 12.1566 15.1571 13.6569 13.6569C15.1571 12.1566 16 10.1217 16 8H14.4ZM4.728 6.464L3.6 7.6L7.2 11.2L15.2 3.2L14.072 2.064L7.2 8.936L4.728 6.464Z' fill='%23389243'/%3E%3C/svg%3E%0A");
          repeat: no-repeat;
          position: center;
          color: #f2f2f2;
          size: contain;
        }
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.7);
        position: absolute;
        top: 50%;
        left: 7px;
        transition: transform 175ms ease-in, opacity 175ms ease-in;
      }

      // MODIFIERS
      &.-is_valid {
        color: #1c6226;
        transition: color transform 300ms ease-out;
        &:before {
          opacity: 1;
          transform: translate(-50%, -50%) scale(1);
          transition: transform 300ms ease-out, opacity 300ms ease-out;
        }
      }

      &.-observation {
        list-style: none;
      }
    }
  }
}
